-var whatPage = "vehicules";

<!DOCTYPE html>
html(lang="en")

  head

    include includes/head.pug

  body

    //- Preloader
    div(id="preloader")
        div(class="spinner")

    //- Navbar
    include sections/navbar.pug


    // Title Section
    section(class="page-title")
      div(class="container")
        div(class="page-title-content")
          h2 Nos Véhicules


    // Conditions Section
    section(class="vehicules-page bg-light")
      div(class="container")
        div(class="vehicules-wrap")
          div(class="row")
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 250 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/1.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Dacia Logan
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 400 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/2.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Hyundai IX35
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 300 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/3.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Peugeot 301
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 250 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/4.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Fiat Doublo
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 200 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/5.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Hyundai I10
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 250 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/6.jpg")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Fiat Punto Lounge
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 250 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/7.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Peugeot bipper
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 300 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/8.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Hyundai accent
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 280 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/9.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Renault Clio 4
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 250 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/10.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Hyundai Tucson
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 300 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/11.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Ford Fiesta
            div(class="col-lg-4 col-md-6")
              div(class="vehicule")
                div(class="vehicule-price")
                  h5 A partir de 
                    span 400 MAD
                div(class="vehicule-img")
                  img(src="img/vehicules/12.png")
                  div(class="vehicule-content")
                    a(href="vehicule.html" class="btn btn-custom") Réserver
                div(class="vehicule-title")
                  h4 Dacia Duster

    //- Footer
    include sections/footer.pug

    // Scripts
    include includes/scripts.pug