/*-------------------------------------------------------*/
/* Home
/*-------------------------------------------------------*/

/* Hero */
.hero {
  padding: 50px 0;
  &.bg-image {
    background-image: url("../img/background.jpg"); 
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  .hero-flex {
    display: flex;
    justify-content: center;
    .hero-content {
      padding: 40px 30px;
      background-color: rgba(#031523, 0.7);
      max-width: 550px;
      border-radius: 4px;
      h1 {
        color: #fff;
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 20px;
        span {
          text-transform: uppercase;
        }
      }
      .hero-contact-details {
        p {
          color: #fff;
          font-size: 16px;
          margin-bottom: 20px;
          font-family: $heading-font;
          font-weight: 300;
          span {
            text-transform: uppercase;
          }
        }
        ul {
          color: #fff;
          li {
            font-size: 17px;
            font-weight: 700;
            padding-bottom: 6px;
            margin-bottom: 6px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.11);
            &.address {
              font-weight: 400;
            }
            i {
              margin-right: 10px;
              padding-right: 10px;
              border-right: 1px solid #fff;
            }
          }
        }
      }
      .hero-links {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .social {
            display: flex;
            align-self: center;
            a {
              color: #fff;
              padding: 3px 13px;
              font-size: 18px;
              border: 1px solid #fff;
              margin-left: 10px;
              display: inline-block;
            }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .hero {
    .hero-flex {
      justify-content: flex-end;
    }
  }
}

/* Hero */
.about {
  .about-content {
    text-align: center;
    padding: 30px 20px;
    background-color: $main-color;
    border-radius: 4px;
    p {
      color: #fff;
    }
  }
}

/* Services */
.services {
  .services-wrap {
    margin-top: -30px;
    .single-service {
      margin-top: 30px;
      text-align: center;
      background-color: #fff;
      a {
        display: block;
        img {
          border-radius: 4px 4px 0px 0px;
        }
        h4 {
          padding: 25px 15px;
          font-size: 16px;
          border-radius: 0px 0px 4px 4px;
          border: 1px solid #e8e8e8;
          border-top: none;
          margin: 0;
          line-height: 24px;
        }
      }
    }
  }
}

/* Vehicles Slider */
.vehicles-slider {
  .vehicles-slider-wrap {
    .single-vehicle {
      text-align: center;
      margin-top: 30px;
      a {
        display: block;
      }
      h4 {
        padding: 20px 0 0;
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

/* Servicess Page */
.services-page {
  padding: 60px 0;
  .services-page-wrap {
    .single-service {
      margin-bottom: 60px;
      padding-bottom: 50px;
      border-bottom: 1px solid #e8e8e8;
      position: relative;
      span {
        position:absolute; 
        top:-130px;
      }
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
      .services-page-content {
        h3 {
          text-transform: uppercase;
          margin-bottom: 30px;
          font-weight: 700;
          &::after {
            height: 2px;
            background-color: $main-color;
            content: "";
            display: block;
            width: 100px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .services-page {
    .services-page-img {
      &.img-first {
        margin-bottom: 40px;
      }
      &:not(.img-first) {
        margin-top: 40px;
      }
    }
  }
}

/* Conditions Page */
.conditions-page {
  padding: 60px 0;
  .conditions-wrap {
    padding: 30px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 2px solid $main-color;
    .item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 15px;
      }
      h2 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

/* Contact */
.contact-page {
  padding: 80px 0;
  .contact-wrap {
    padding: 50px 30px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    border-radius: 4px;
    margin-top: -180px;
    .contact-form {
      margin-top: -20px;
    }
  }
}

/* Google Map */
.map {
  height: 550px;
  line-height: 0;
  iframe {
    height: 100%;
    width: 100%;
  }
}

/* Contact */
.vehicules-page {
  padding: 80px 0;
  .vehicules-wrap {
    margin-top: -30px;
    .vehicule {
      margin-top: 30px;
      text-align: center;
      background-color: #fff;
      border-radius: 4px;
      position: relative;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      .vehicule-price {
        padding: 20px 10px;
        border-bottom: 1px solid #e8e8e8;
        h5 {
          font-size: 15px;
          font-weight: 300;
          margin: 0;
          span {
            display: inline-block;
            padding: 4px 8px;
            border: 2px solid $main-color;
            color: $main-color;
            margin-left: 10px;
            font-weight: 400;
          }
        }
      }
      .vehicule-img {
        position: relative;
        padding: 10px;
        .vehicule-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#353d48, .9);
          content: "";
          opacity: 0;
          transition: all .5s;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .vehicule-title {
        padding: 20px 10px;
        border-top: 1px solid #e8e8e8;
        h4 {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
        }
      }
      &:hover {
        .vehicule-img {
          .vehicule-content {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Single Vehicle */
.vehicule-page {
  .vehicule-page-img {
    &.bg-image {
      background-image: url("../img/post_bg.jpg");
      background-size: cover;
      background-position: center center;
      height: 400px;
    }
  }
  .vehicule-page-content {
    padding: 80px 0 80px;
    .vehicule-page-wrap {
      padding: 50px 30px;
      border: 1px solid #e8e8e8;
      background-color: #fff;
      border-radius: 4px;
      margin-top: -180px;
      .reservation-item {
        h2 {
          text-align: center;
          font-weight: 700;
          font-size: 32px;
          margin-bottom: 55px;
        }
        .price {
          padding: 20px 10px;
          background-color: $main-color;
          text-align: center;
          margin: 20px 0;
          h5 {
            margin: 0;
            color: #fff;
            font-weight: 700;
            font-size: 20px;
          }
        }
        .options {
          padding-top: 20px;
          border-top: 1px solid #e8e8e8;
          .option {
            background-color: #f8f9fa;
            margin-bottom: 5px;
            border-radius: 4px;
            padding: 5px 0;
            .item {
              display: flex;
              padding: 5px 15px;
              i {
                margin-right: 10px;
                color: $heading-color;
                font-size: 13px;
                line-height: 1.5;
              }
              h6 {
                // display: inline;
                font-size: 13px;
                font-weight: 700;
                margin: 0;
                line-height: 1.5;
                span {
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
      .reservation-form{
        margin-top: -20px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .vehicule-page {
    .options {
      margin-bottom: 60px;
    }
  }
}

/* Back to top */
.back-to-top {
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 40px;
  width: 40px;
  z-index: 10000;
  border-radius: 50%;
  background-color: darken(#353d48, 5);
  display: none;
  &:hover {
    background-color: darken(#353d48, 8);
  }
  i {
    color: #fff;
    line-height: 38px;
    font-size: 14px;
    display: block;
  }
}

/* Footer */
.footer {
  background-color: #353d48;
  text-align: center;
  a {
    color: #fff;
  }
  .footer-links {
    font-family: $heading-font;
    padding-top: 40px;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: -10px;
    li {
      margin-right: 20px;
      margin-bottom: 10px;
      a {
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  .footer-divider {
    margin: 35px auto;
    border-bottom: 1px solid #5d5d5d;
    width: 50%;
  }
  .footer-social{
    a {
      border: 2px solid #fff;
      display: block;
      width: 45px;
      font-size: 18px;
      height: 45px;
      line-height: 40px;
      border-radius: 50%;
      &:hover {
        background-color: $main-color;
        border-color: $main-color;
      }
    }
  }
  .footer-copyright {
    padding: 20px 0 30px;
    p {
      color: #9e9e9e;
      text-align: center;
      font-size: 14px;
      margin-bottom: 0;
      word-spacing: 2px;
      a {
        text-transform: uppercase;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}