/*-------------------------------------------------------*/
/* Navbar
/*-------------------------------------------------------*/
.navbar {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 1px 10px rgba(93, 93, 93, 0.1);
  .navbar-brand {
    padding: 10px 0;
    img {
      height: 65px;
    }
  }
  .navbar-toggler {
    padding: 0;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 28px;
    outline: none;
  }
  .navbar-nav {
    .nav-item {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      .nav-link {
        padding: 30px 15px;
        text-transform: uppercase;
        color: $heading-color;
        font-size: 13px;
        font-family: $heading-font;
        font-weight: 300;
        transform: none;
        border-bottom: 4px solid transparent;
        &:hover {
          color: #fff;
          background-color: $main-color;
          border-bottom: 4px solid $main-hover-color;
        }
      }
      &.active {
        .nav-link {
          color: #fff;
          background-color: $main-color;
          border-bottom: 4px solid $main-hover-color;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .navbar {
    .navbar-nav {
      padding: 15px 0;
      .nav-item {
        margin-right: 0;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
        .nav-link {
          padding: 10px 15px;
          text-transform: uppercase;
          color: $heading-color;
          font-size: 13px;
          font-family: $heading-font;
          font-weight: 300;
          transform: none;
          border-bottom: 4px solid transparent;
          &:hover {
            color: #fff;
            background-color: $main-color;
            border-bottom: 4px solid $main-hover-color;
          }
        }
        &.active {
          .nav-link {
            color: #fff;
            background-color: $main-color;
            border-bottom: 4px solid $main-hover-color;
          }
        }
      }
    }
  }
}