/*-------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------*/

/* Buttons */
.btn {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s;
  word-spacing: 0.4px;
  color: #fff;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.5s;
  border: 1px solid;
  background-color: $main-color;
  border-color: $main-color;
  text-transform: uppercase; 
  border-radius: 1px;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: $main-hover-color;
    border-color: $main-hover-color;
    outline: none !important;
  }
  &.btn-outline {
    border: 2px solid #fff;
    background-color: transparent;
    &:hover,
    &:focus,
    &:active {
      color: #000;
      background-color: #fff;
      border-color: #fff;
    }
  }
  &.btn-link {
    background-color: transparent;
    border-color: transparent;
    color: $text-color;
    &:hover {
      text-decoration: underline !important;
      color: $main-color;
    }
  }
}

/* Form */
.form-group {
  margin-bottom: 25px;
  transition: all 0.5s;
  label {
    font-weight: 700;
    font-size: 14px;
    span {
      color: $main-color;
    }
  }
  .form-control {
      box-shadow: none !important;
      height: 40px;
      border: 1px solid #e8e8e8;
      border-radius: 0;
      background-color: #f8f8f8;
      &:focus {
        border-color: $main-color;
      }
  }
  textarea {
    &.form-control {
      height: 195px;
    }
  }
}