/*-------------------------------------------------------*/
/* Variables
/*-------------------------------------------------------*/

// Colors
$main-color: #FF3E4D;
$main-hover-color: #ea3543;

$heading-color: #3e3e3e;
$text-color: #6e6e6e;

// Fonts
$heading-font: 'Montserrat', sans-serif;
$default-font: 'Open Sans', sans-serif;