// Back To Top    
a(href="#" class="back-to-top")
    i(class="fa fa-chevron-up")


// Footer
footer(class="footer")
  div(class="container")

    ul(class="footer-links list-inline")
      li(class="list-inline-item")
        a(href="index.html" class="") Accueil
      li(class="list-inline-item")
        a(href="services.html" class="") Nos Services
      li(class="list-inline-item")
        a(href="vehicules.html" class="") Nos Vehicules
      li(class="list-inline-item")
        a(href="conditions-de-location.html" class="") Condition de Location
      li(class="list-inline-item")
        a(href="contact.html" class="") Contact
    
    hr(class="footer-divider")

    ul(class="footer-social list-inline")
      li(class="list-inline-item")
        a(href="#")
          i(class="fa fa-facebook")
      li(class="list-inline-item")
        a(href="#")
          i(class="fa fa-youtube")
      li(class="list-inline-item")
        a(href="#")
          i(class="fa fa-instagram")

    div(class="footer-copyright")
      p Tous droits réservés © 
        a(href="index.html") Kenicar 
        | 2020
