// Vehicles Section
section(class="vehicles-slider section")
  div(class="container")
    div(class="section-title")
      h2 Nos Véhicules
      span(class="section-title-divider")
    div(class="vehicles-slider-wrap")
      div(class="owl-carousel" id="owl-vehicles-slider")
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/1.png")
            h4 Dacia Logan
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/2.png")
            h4 Hyundai IX3
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/3.png")
            h4 Peugeot 30
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/4.png")
            h4 Fiat Doublo
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/5.png")
            h4 Hyundai I10
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/6.jpg")
            h4 Fiat Punto Lounge
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/7.png")
            h4 Peugeot bipper
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/8.png")
            h4 Hyundai accent
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/9.png")
            h4 Renault Clio 4
        div(class="single-vehicle")
          a(href="vehicule.html")
            img(src="img/vehicules/10.png")
            h4 Hyundai Tucson